:root {
  // Primary Colors

  --strong-cyan: hsl(171, 66%, 44%);
  --strong-cyan-light: hsl(171, 66%, 68%);
  --light-blue: hsl(233, 100%, 69%);
  --light-blue-light: hsl(233, 100%, 80%);

  // Neutral Colors

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --light-grey: #eeeeee;
}
